
@use "../sass/layout/header.scss";
@use "../sass/pages/localisation.scss";
@use "../sass/pages/explorer.scss";
@use "../sass/utilities/mixins";
@use "../sass/pages/method-menu.scss";
@use "../sass/pages/menus.scss";
@use "../sass/layout/footer.scss";
@use "../sass/pages/restaurants.scss";
@use "../sass/utilities/colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');*,

*
::before,
::after{
  box-sizing: border-box;

}

body{
  font-family: "Roboto",sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}


.loader  {
background: white;
height: 100%;
width: 100%;
position: fixed;
inset: 0;
z-index: 1;
opacity: 0.9;
animation: loader-page 2s 2s forwards;
transform-origin: center;
    p{
      text-align: center;
      margin-top: 10rem;
      font-size: 2.5rem;
      color: colors.$tertiary;
    }
}
.progress{
  width: 10rem;
  border: 10px solid colors.$dark-grey;
  border-radius: 15px;
  position: relative;
  animation: loader-page 2s 1.5s forwards;
  margin: auto;
  top: 15rem;
 
}


.progress .color{
  @include mixins.linear-gradient;
  height: 10px;
  border-radius: 15px;
  animation: progres 2s linear;   


}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

@keyframes loader-page {
  100% {
    opacity: 0;
    z-index: -10;
}
}


