header{
  position: relative; 
    .header_title{
      text-align: center;
      font-family: "shrikhand", sans-serif;
      font-size: 1.5rem;
      padding: 0.6rem;
      box-shadow: 0px 1px 3px gray;
    }
} 