header{
 .header_logo{
    height: 2rem;
    width: 100%;
    padding: 2rem;
    background-image: url('/assets/logo/ohmyfood@2x.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0.5px 1px grey;

  }

} 