@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');*,

*
::before,
::after{
  box-sizing: border-box;

}

header h1{
  box-shadow: 0px 0.5px 1px grey;
  font-family: "shrikhand", cursive;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
}

main > .localisation {
  display: flex;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  }

  main .localisation i{
    font-size: 0.7rem;
  }

.explorer {
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding: 0 2.5rem 1.8rem 2.5rem;
}

.explorer h2{
  font-family: "Roboto", sans-serif;
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1rem;
}

.explorer p{
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.explorer a{
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  color: #fff;
  font-size: 0.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  text-decoration: none;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 1px 3px grey;
  cursor: default;
}

.explorer a:hover{
opacity: 0.7;
}
/*