@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');*,
::before,
::after{
  box-sizing: border-box;

}


header h1{
  box-shadow: 0px 0.5px 1px grey;
  font-family: "shrikhand", cursive;
  padding: 1rem;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}

main > .localisation {
  display: flex;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  }

  main .localisation i{
    font-size: 0.7rem;
  }

/*.reservation_restaurant {
  width: 100%;
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding: 1.5rem;
  
}

.reservation_restaurant a{
  padding: 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 100px;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  text-decoration: none;
  font-family: 'roboto';

}
