@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
header .header_logo {
  height: 2rem;
  width: 100%;
  padding: 2rem;
  background-image: url("/assets/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0.5px 1px grey;
}

.localisation {
  display: flex;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0.7rem;
  font-size: 0.7rem;
  color: rgb(126, 126, 126);
}
.localisation i {
  font-size: 0.7rem;
  color: #000;
}

.explorer {
  background-color: rgb(246, 246, 246);
  text-align: center;
  padding: 0 2.5rem 1.8rem 2.5rem;
}
.explorer h2 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 1rem;
}
.explorer p {
  font-size: 0.7rem;
  padding-bottom: 1rem;
  font-weight: 300;
}
.explorer a {
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 400;
  cursor: default;
  box-shadow: 0px 1px 3px grey;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
.explorer a:hover {
  opacity: 0.7;
}

.method_menu {
  counter-reset: number;
  margin-bottom: 2.5rem;
}
.method_menu h2 {
  font-weight: 600;
  padding: 2rem 1rem;
}
.method_menu ol {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 980px) {
  .method_menu ol {
    flex-direction: column;
  }
}
.method_menu li {
  position: relative;
  background-color: rgb(246, 246, 246);
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  box-shadow: 0px 1px 3px grey;
}
.method_menu li:hover {
  background-color: rgb(245, 237, 255);
}
.method_menu li i.fas {
  color: rgb(126, 126, 126);
  margin-right: 0.6rem;
  font-size: 1.2rem;
}
.method_menu li::before {
  content: "" counter(number);
  counter-increment: number;
  background-color: rgb(147, 86, 220);
  width: 2rem;
  height: 2rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
  color: white;
}

.restaurants {
  background-color: rgb(246, 246, 246);
  padding: 0 0.8rem 4rem 0.8rem;
}
.restaurants h2 {
  font-weight: 600;
  padding: 2rem 1rem;
}
.restaurants .cards_restaurants {
  display: grid;
  gap: 2rem;
}
@media (min-width: 980px) {
  .restaurants .cards_restaurants {
    grid-template-columns: 1fr 1fr;
  }
}
.restaurants .cards_restaurants .new {
  position: relative;
}
.restaurants .cards_restaurants .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2.5rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  text-align: center;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
}
.restaurants .restaurant_card {
  cursor: default;
}
.restaurants .restaurant_card__img {
  border-radius: 2.5rem 2.5rem 0 0;
  background-size: cover;
  background-position: 35% 61%;
  height: 12rem;
}
@media (min-width: 980px) {
  .restaurants .restaurant_card__img {
    height: 18rem;
  }
}
.restaurants .restaurant_card__img-1 {
  background-image: url(/assets/restaurants/menu_1.jpg);
}
.restaurants .restaurant_card__img-2 {
  background-image: url(/assets/restaurants/menu_2.jpg);
}
.restaurants .restaurant_card__img-3 {
  background-image: url(/assets/restaurants/menu_3.jpg);
}
.restaurants .restaurant_card__img-4 {
  background-image: url(/assets/restaurants/menu_4.jpg);
}
.restaurants .restaurant_card_description {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 2.5rem 2.5rem;
}
.restaurants .restaurant_card_description h3 {
  padding-top: 1.6rem;
  margin-left: 1rem;
}
.restaurants .restaurant_card_description p {
  margin-left: 1rem;
  margin-top: 0.4rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.restaurants .restaurant_card_description i {
  font-size: 1.8rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
.restaurants .restaurant_card_description .fa_solid {
  color: transparent;
}
.restaurants .restaurant_card_description .fa_solid:hover {
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
}

footer .description_footer {
  background-color: rgb(53, 53, 53);
  padding: 0.8rem;
  color: #fff;
  width: 100%;
  display: inline-block;
}
footer .description_footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3rem;
  padding: 1rem 0;
}
footer .description_footer p {
  padding: 0.2rem;
}
footer .description_footer i {
  padding-right: 0.3rem;
}

img {
  max-width: 100%;
}

*,
* ::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
