$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: rgba(126,126,126,255);
$purple: rgba(147,86,220,255);
$light-grey:  rgb(246, 246, 246);
$dark-grey: rgba(53,53,53,255);
$grey-menu: rgba(246,246,246,255);
$dark-grey-opacity: rgba(53,53,53,0.5);
$localisation: rgba(84,84,84,255);