
@mixin shadow { box-shadow: 0px 1px 3px grey;
}

@mixin hover-opacity { opacity: 0.7;
    
}

@mixin linear-gradient { background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    
}

@mixin pages-restaurants {
   
    i{
        font-size: 1.6rem;
        position: absolute;
        right: 1rem;
        top: 1rem;              
        
    }
    .fa_solid{
        color: transparent;
        &:hover{
            @include linear-gradient;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

@mixin title-restaurant-menu{
    h3{
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
    }
}