@use "../utilities/colors.scss";


@mixin shadow { box-shadow: 0px 1px 3px grey;
}

@mixin hover-opacity { opacity: 0.7;
    
}

@mixin linear-gradient { background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    
}

@mixin pages-restaurants {
   
    .fa-heart{
        font-size: 1.6rem;
        position: absolute;
        right: 1rem;
        top: 1rem;              
        
    }
    .fa_solid{
        color: transparent;
        &:hover{
            @include linear-gradient;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

@mixin title-restaurant-menu{
    h3{
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        position: relative;
        margin-bottom: 2.5rem;
    &::after{
        content: "";
        position: absolute;
        height: 0.25rem;
        width: 2.5rem;
        background-color: colors.$tertiary;
        top: 1.4rem;
        left: 0;
    }
    }
}

@mixin rotate-check{
    @keyframes rotate-check { 
        0%{
            transform: rotate(-200deg);
        }
        100%{
            transform: rotate(0);
        }
        
    }
}

@mixin mask-text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

@mixin button-command{
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        color: #fff;
        font-size: 0.7rem;
        border-radius: 2rem;
        text-decoration: none;
        font-weight: 400;
        @include shadow;
        @include linear-gradient;
}

@mixin chargement-menu {
    @keyframes chargement-menu {
        from {
            transform: translateY(-50%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
         
        }
        
    }
    
}