@use "../utilities/mixins";
@use "../utilities/colors.scss";

.explorer {
    background-color: colors.$light-grey;
    text-align: center;
    padding: 0 2.5rem 1.8rem 2.5rem;
      & h2{
      padding: 1rem 0 1rem 0;
      font-weight: 700;
      font-size: 1rem;
      }
      & p{
        font-size: 0.7rem;
        padding-bottom: 1rem;
        font-weight: 300;
      }
      & a{
          @include mixins.button-command;
          @include mixins.shadow;
          @include mixins.linear-gradient;
      }
      & a:hover{
        @include mixins.hover-opacity;
      }
  }
  