@use "../utilities/colors.scss";

.localisation {
    display: flex;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
    color: colors.$grey;
      & i{
        font-size: 0.7rem;
        color: colors.$localisation;
        text-align: center;
      }
      input{
        border: none;
        background: none;
        width: 6.5rem;
          &:focus{
            outline: none;
          }
          &::placeholder{
            font-size: 0.8rem;
            color: colors.$localisation;
            text-align: center;
          }
      }
}