@use "../utilities/colors.scss";

.localisation {
    display: flex;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
    font-size: 0.7rem;
    color: colors.$grey;

        
      & i{
        font-size: 0.7rem;
        color: #000;
      }
    }