@use "../utilities/colors.scss";
@use "../utilities/variables.scss";
@use "../utilities/mixins.scss";

.restaurants{
    background-color: colors.$light-grey;
    padding: 0 0.8rem 4rem 0.8rem;
        & h2{
            font-weight: 600;
            padding: 2rem 1rem;
            font-size: 1.3rem;
        }

    .cards_restaurants{
        display: grid;
        gap: 2rem;
            @media (min-width: variables.$breackpoint){
                grid-template-columns: 1fr 1fr;
            }
        .cards_restaurants_details{
            position: relative;
        
            &.new::before{
                content: 'Nouveau';
                position: absolute;
                height: 2.5rem;
                width: 5rem;
                background-color: colors.$tertiary;
                color: darken(colors.$tertiary, 50%);
                text-align: center;
                display: grid;
                place-items: center;
                top: 1rem;
                right: 1rem;
            }
            &:hover{
                @include mixins.shadow;
                border-radius: 1rem;
            }
        
            .restaurant_card{
                cursor: pointer;
    
                &__img{
                    border-radius: 1rem 1rem 0 0;
                    background-size: cover;
                    background-position: 35% 63%;
                    height: 10rem;
                        @media (min-width: variables.$breackpoint) {
                            height: 18rem;
                        }
                }
                @for $i from 1 through 4{
                    &__img-#{$i}{
                        background-image: url(/assets/restaurants/menu_#{$i}.jpg);
                    }
                }
                &_description{
                    position: relative;
                    background-color: #fff;
                    border-radius: 0 0 1rem 1rem;
                        h3{
                            padding: 1rem 0 0 1rem;
                        }
                        p{
                            font-weight: 300;
                            padding: 0.3rem 1rem 1rem;
                            font-weight: 300;
                        }
                        
                        i{
                            font-size: 1.5rem;
                            top: 1rem;
                            position: absolute;
                            right: 1rem;
                        }
                        .fa_solid{
                            color: transparent;
                                &:hover{
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    cursor: pointer;
                                        @include mixins.linear-gradient;
                                }
                        } 
                }
            }   
        }
    }
}   
