@use "../utilities/mixins.scss";


.img-banner img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: bottom;
}

.one-page {
    display: flex;
    position: relative;
    width: 100%;
    
    h1{
        font-family: "Shrikhand", sans-serif;  
        padding: 1rem;
        font-size: 1.5rem;
        
    }
    @include mixins.pages-restaurants;
}