@use "../utilities/mixins.scss";
@use "../utilities/colors.scss";
@use "../utilities/variables.scss";


.arrow{
    position: absolute;
    top: 0.8rem;
    margin-left: 1rem;
    color: colors.$dark-grey;
        i:hover{
            transform: scale(1.2);
        }
}

.img-banner img{
    width: 100%;
    object-fit: cover;
    height: 17rem;
    @media (min-width: variables.$breackpoint){
        height: 30rem;
        object-position: 50% 80%;
    }
}

.one-page {
    position: relative;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    background: colors.$grey-menu;
    margin-top: -5rem;
    padding: 1rem;
        @include mixins.pages-restaurants;
            h1{
                font-family: "Shrikhand", sans-serif;  
                font-size: 1.3rem;
            }
        .menu{
            display: flex;
            flex-direction: column;
            background: colors.$grey-menu;
            
                @media (min-width: variables.$breackpoint){
                    flex-direction: row;
                    gap: 3rem;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            &__category{
                background: colors.$grey-menu;
                position: relative;
                margin-top: 2rem;
                    @include mixins.title-restaurant-menu;
                        @media (min-width: variables.$breackpoint){
                            width: 22rem;
                        }
                @for $i from 1 through 3{
                    :nth-child(#{$i}){
                        animation-delay: 100ms * $i;
                    }
                }
                .menu-submenu{
                    background:#fff;
                    margin: 1rem 0 1rem 0;
                    display: flex;
                    border-radius: 1rem;
                    height: 4rem;
                    cursor: pointer; 
                    animation: chargement-menu 3s;
                        @include mixins.chargement-menu;
                        @include mixins.mask-text;
                        @include mixins.shadow;
                    &__description{
                        display: flex;
                        flex-direction: column;
                        padding: 0 0 0.7rem 0.7rem;
                        overflow: hidden;
                        h4{
                            padding-top: 0.7rem;
                            font-size: 0.9rem;
                                @include mixins.mask-text;
                        }    
                        p{
                            font-weight: 300;
                            padding: 0.7rem 0 0.1rem;
                            font-size: 0.9rem;
                                @include mixins.mask-text;
                        }
                    }
                    &__check_price{
                        display: flex;
                        margin-left: auto; 
                    }
                    &__price{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 0.7rem;
                        font-weight: 500;
                        margin-top: 1.5rem;
                    }
                    &__check{
                        $button-check: 4rem;
                        background: colors.$tertiary;
                        border-radius: 0 1rem 1rem 0;
                        margin-right: -$button-check;
                        width: $button-check;
                        display: grid;
                        place-items: center;
                            .menu-check{
                                display: grid;
                                align-items: center;
                                background: white;
                                border-radius: 50%;
                                width: 2rem;
                                height: 2rem;
                                text-align: center;
                                color: colors.$tertiary;
                            }
                    } 
                    &:hover{
                        .menu-submenu__check{
                            margin-right: 0;
                            transition: all 0.7s ease;
                        }
                        i{
                            animation: rotate-check 0.5s ease-in-out;
                            @include mixins.rotate-check;
                        } 
                    }
                }
            }
           
        }
        .button-command{
            margin: 1rem 0 1rem 0;
            text-align: center;
                &__commander{
                    @include mixins.button-command;
                    &:hover{
                        @include mixins.hover-opacity;
                    }
                }
               
        }
}

