@use "../utilities/mixins.scss";
@use "../utilities/colors.scss";
@use "../utilities/variables.scss";


.arrow{
    position: absolute;
    top: 0.8rem;
    margin-left: 1rem;
    color: colors.$dark-grey;
        i:hover{
            transform: scale(1.2);
        }
}

.img-banner img{
    width: 100%;
    object-fit: cover;
}

.one-page {
    position: relative;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    background: colors.$grey-menu;
    margin-top: -5rem;
    padding: 1rem;
         h1{
            font-family: "Shrikhand", sans-serif;  
            font-size: 1.3rem;
        }
        @include mixins.pages-restaurants;
            
        .menu{
            display: flex;
            flex-direction: column;
            background: colors.$grey-menu;
                &__category{

                    @for $i from 1 through 3{
                        :nth-child(#{$i}){
                            animation-delay: 100ms * $i;
                        }
                    }
                    background: colors.$grey-menu;
                    position: relative;
                    margin-top: 2rem;
                    @include mixins.title-restaurant-menu;
                
                .menu-submenu{
                   background:#fff;
                    margin: 1rem 0 1rem 0;
                    display: flex;
                    border-radius: 1rem;
                    cursor: pointer;
                    @include mixins.chargement-menu;
                    animation: chargement-menu 1s;
                    @include mixins.mask-text;
                        @include mixins.shadow;
                        &__description{
                            display: flex;
                            flex-direction: column;
                            padding: 1rem;
                            overflow: hidden;
                            
                        h4{
                            padding-top: 0.7rem;
                            font-size: 0.9rem;
                            @include mixins.mask-text;

                        }
                        p{
                            font-weight: 300;
                            padding-top: 0.7rem;
                            font-size: 0.9rem;
                            @include mixins.mask-text;
                         }
                        }
                        &__check_price{
                            display: flex;
                            margin-left: auto; 
                           
                                    
                        }
                        &__price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            padding: 0.7rem;
                            font-weight: 500;
                        }
                        &__check{
                            $button-check: 4rem;
                            background: colors.$tertiary;
                            border-radius: 0 1rem 1rem 0;
                            margin-right: -$button-check;
                            width: $button-check;
                            display: grid;
                            place-items: center;
                                .menu-check{
                                display: grid;
                                align-items: center;
                                background: white;
                                border-radius: 50%;
                                width: 2rem;
                                height: 2rem;
                                text-align: center;
                                color: colors.$tertiary;
                               
                            }
                               
                        } 
                        &:hover  {
                            .menu-submenu__check{
                                margin-right: 0;
                            transition: all 0.7s ease;
                            }
                           i{
                            @include mixins.rotate-check;
                            animation: rotate-check 0.5s ease-in-out;
                           } 
                        }
                    }
                }
                .button-command{
                    margin: 1rem 0 2rem 0;
                    text-align: center;
                        &__commander{
                            @include mixins.button-command;
                                &:hover{
                                    @include mixins.hover-opacity;
                                }
                        }
                }

                @media (min-width: variables.$breackpoint) {
                    flex-direction: row;
        }
    }
}

